* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
    background-color: rgb(237, 247, 251);
}



/*---------------OK*/

.body-main-content {
	padding-bottom: 10px;
	margin: 2px;
	height: auto;
	background-color: white;
	border-radius: 15px;
	border: none;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.body-main-content:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}


.body-main-content img {
	border-radius: 15px 15px 0 0;
	width: 100%;
	margin-bottom: 5px;
}
.body-main-content img + p {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}
.body-main-content-p{
	height: 100px;
	margin: 7px;
}
.body-main-content-p p {
	margin: 0px;
	font-size: 12px;
	text-align-last: auto;
}
a.body-main-col {
	padding: 5px;
	text-decoration: none;
}

